<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA=Compatible" content="ie=edge" />
    <link rel="icon" href="<%= BASE_URL %>favicon.ico" />
    <title>끝말잇기</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="root">
      <word-relay start-word="초밥"></word-relay>
      <word-relay start-word="배고파"></word-relay>
      <word-relay start-word="고기"></word-relay>
    </div>
  </body>
  <script>
    Vue.component("word-relay", {
      template: `
      <div>
        <div>{{word}}</div>
          <form v-on:submit="onSubmitForm">
            <input type="text" ref="answer" v-model="value" />
            <button type="submit">입력</button>
          </form>
        <div>{{result}}</div>
      </div>
      `,
      props: ["StartWord"],
      data() {
        console.log(this);
        return {
          word: this.StartWord,
          result: "",
          value: ""
        };
      },
      methods: {
        onSubmitForm(e) {
          e.preventDefault();
          if (this.word[this.word.length - 1] === this.value[0]) {
            this.result = "정답";
            this.word = this.value;
            this.value = "";
            this.$refs.answer.focus();
          } else {
            this.result = "땡";
            this.value = "";
            this.$refs.answer.focus();
          }
        }
      }
    });
  </script>
  <script>
    const app = new Vue({
      el: "#root"
    });
  </script>
</html>
